<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="AutozapBDEntities" connectionString="metadata=res://*/Autozap.csdl|res://*/Autozap.ssdl|res://*/Autozap.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOME-PC;initial catalog=AutozapBD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>